@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.non-display {
  display: none !important;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-16 {
  font-size: 16px;
}

.f-28 {
  font-size: 28px;
}

.mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, 0.25);
}
.mask .sign_top_bar {
  width: 100% !important;
  height: 10px !important;
  position: absolute;
  top: 0;
  background: linear-gradient(270deg, #378 0%, #6ab 100%) !important;
  border-radius: 5px 5px 0px 0px !important;
}
.mask .sign_box_div {
  width: 340px;
  background-color: white;
  box-shadow: 0px 4px 60px 0px #aaa;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  padding-top: 25px;
  position: relative;
}
.mask .sign_box_div .sign_title_div {
  position: relative;
  height: 27px;
}
.mask .sign_box_div .sign_title {
  color: var(--secondary-color-gray-70, #666);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
}
.mask .sign_box_div .sign_right_button {
  position: absolute;
  inset: 0px 0px auto auto;
  background-image: url("../close.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  background-position: center;
  background-color: #ffffff;
}
.mask .sign_box_div div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mask .sign_box_div button {
  width: 100%;
  height: 47px;
  border-radius: 5px;
  color: var(--additional-color-white, #fff);
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background-color: #489;
}
.mask .sign_box_div input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.mask .sign_box_div .sign_input_div {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.mask .sign_box_div .sign_down_span {
  color: var(--secondary-color-gray-70, #666);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 22px;
}
.mask .sign_box_div .sign_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mask .sign_box_div .sign_message {
  color: red;
}

html,
body {
  margin: 0;
}

.footer {
  width: 100%;
  height: 104px; /*設定footer本身高度*/
  background-color: #757575;
  justify-content: center;
  align-items: center;
}

.footer_div_p {
  font-size: 16px;
  color: white;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.wrapper_header {
  width: 100%;
  height: 54px;
  justify-content: center;
  position: fixed;
  background-color: white;
  z-index: 1000000;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e8e8e8;
}

.div_header {
  height: 34px;
  width: 1200px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.header_div_li_a {
  font-size: 29px;
  color: #448899;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.header_div_div_li {
  padding: 10px;
  align-items: center;
}

.header_div {
  flex-direction: row;
}

.header_div_div {
  width: 175px;
  height: 34px;
}

.header_div_div_li_button {
  font-size: 16px;
  color: #666666;
  background-color: white;
}/*# sourceMappingURL=style.css.map */