{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/attractionStyle.css') }}">
<div class="content">
    <div class="attraction_info_card">
        <div class="attraction_img_div">
            <div class="img_collector_div">
                <img class="attraction-img-display attraction-img" src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D22/E45/F442/a5f612b7-43c3-403c-a326-cea80fb61bec.jpg" alt="無照片連結" id="0">
                <img class="attraction-img-non-display attraction-img" src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D14/E810/F21/48d66fbd-1ba3-4efd-837a-3767db5f52e0.jpg" alt="無照片連結" id="1">
                <img class="attraction-img-non-display attraction-img" src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D14/E810/F21/48d66fbd-1ba3-4efd-837a-3767db5f52e0.jpg" alt="無照片連結" id="2">
            </div>
            <div class="img_button">
                <button class="attraction_img_left_button" onclick=switch_attraction_info_img_dot(-1)></button>
                <button class="attraction_img_right_button" onclick= switch_attraction_info_img_dot(1)></button>
            </div>

            <div class="img_navbar_circle">
                <button class="img_navbar_circle_button-current img_navbar_circle_button"  id="0"></button>
                <button class="img_navbar_circle_button-non-curren img_navbar_circle_button" id="1"></button>
                <button class="img_navbar_circle_button-non-current img_navbar_circle_button" id="2"></button>

              
            </div>
        </div>
        <div class="attraction_info_div">
            <div class="attraction_name_div">
                <span class="span_attraction_name"> 平安鐘 </span>
            </div>
            <div class="category_and_mrt_div">
                <span class="span_category_and_mrt"> 公共藝術 at 忠孝復興 </span>
            </div>
            <div class="travel_info_card">
                <span class="travel_info_card_header">訂購導覽行程</span>
                <span class="travel_info_card_discription">以此景點為中心的一日行程，帶您探索城市角落故事</span>
                <div class="select_date">
                    <span class="input_span">選擇日期：</span>
                    <input class="select_travel_date" type="date" id="select_travel_date">
                    <button class="select_date_button" onclick=select_date_into_input()></button>
                </div>
                <div class="select_plan">
                    <span class="input_span">選擇時間：</span>
                    <div class="radio_div">
                        <input class="select_plan_radio" type="radio" name="select_plan" value="morning" id="select_plan_radio"/><span class="select_plan_input">上半天</span>   
                        <input class= "select_plan_radio" type="radio" name="select_plan" value="afternoon" id="select_plan_radio"/><span class="select_plan_input">下半天</span>
                    </div>           
                </div>
                <div class="travel_price">
                    <span class="input_span">導覽費用：</span>
                    <span class="price_span">新台幣 OOOO 元</span>
                </div>
                <div>
                    <button class="travel_plan_select_button">開始預約行程</button>
                </div>

            </div>
        </div>
    </div>

    <hr class="hr">
    
    <div class="information">
        <span class="attraction_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quas, ratione consequuntur corrupti maxime, nostrum suscipit optio voluptatum accusantium quaerat cumque et aliquam laboriosam, placeat dolorem alias magni ducimus recusandae.</span>
        <div class="attraction_address_div">
            <p>景點地址:</p>
            <span class="attraction_address_span">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis voluptas repellendus, tenetur nobis suscipit saepe totam libero tempora illo quisquam consectetur optio reiciendis rerum doloribus velit voluptate culpa ullam? Aperiam.</span>
        </div>
        <div class="attraction_direction_div">
            <p>交通方式:</p>
            <span class="attraction_direction_span">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis voluptas repellendus, tenetur nobis suscipit saepe totam libero tempora illo quisquam consectetur optio reiciendis rerum doloribus velit voluptate culpa ullam? Aperiam.</span>
        </div>
    </div>
</div>


{% endblock %}

{% block script_file %}
<script src="{{ url_for('static', filename='/attraction.js') }}"></script>
{% endblock %}