<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Taipei Trip 台北一日遊</title>
  
</head>

<body>
  
  <div class="mask non-display" id = "signup"> 
    <div class="sign_box_div">
      <div class="sign_top_bar"></div>
      <div class="sign_title_div">
        <span class="sign_title">註冊會員帳號</span>
        <button class="sign_right_button" onclick=left_sign()></button>
      </div>
      <form action="javascript:void(0);" class="sign_form" id="signup_form">
        <input class="sign_input" id="user_username_signup" type="text" placeholder="輸入姓名" maxlength="255" minlength="2">
        <input class="sign_input" id="user_account_singup" type="email" placeholder="輸入電子信箱" maxlength="255" minlength="8">

        <input id="user_password_signup" type="password" placeholder="輸入密碼" maxlength="255" minlength="8">
        <button class="sign_button" onclick=signup_account()>註冊新帳戶</button>
      </form>

      <p class="sign_message" id="sign_message"></p>
      <div>
        <span class="sign_down_span">已經有帳戶了？</span>
        <span class="sign_down_span" onclick=change_element_to_login()>點此登入</span>
      </div>
    </div>
  </div>
  <div class="mask non-display" id="signin"> 
    <div class="sign_box_div">
      <div class="sign_top_bar"></div>
      <div class="sign_title_div">
        <span class="sign_title">登入會員帳號</span>
        <button class="sign_right_button" onclick=left_sign()></button>
      </div>
        <form action="javascript:void(0);" class="sign_form" id="signin_form">
          <input class="sign_input" id="user_account_signin" type="email" placeholder="輸入電子信箱" maxlength="255" minlength="8">
      
          <input id="user_password_signin" type="password" placeholder="輸入密碼" maxlength="255" minlength="8">
          <button class="sign_button" onclick=login_account()>登入帳戶</button>
        </form>

        <p class="sign_message" id="sign_message"></p>
      <div>
        
        <span class="sign_down_span">還沒有帳戶？</span>
        <span class="sign_down_span" onclick=change_element_to_signup()>點此註冊</span>
      </div>
    </div>
  </div>
  
  </div>
  <div class="wrapper">
    <header class="container wrapper_header flex">
      <div class="div_header flex container">
        <div class="container header_div flex">
          <li class="header_div_li"><a class="header_div_li_a" href="/">台北一日遊</a></li>
        </div>
        <div class="header_div_div flex"> 
          <li class="header_div_div_li flex">
            <button class="header_div_div_li_button" type="button" onclick=redirect_booking_and_check_signin()>預定行程</button>
          </li>
          <li class="header_div_div_li flex non-display" id="header_div_div_li_sign">
            <button class="header_div_div_li_button" type="button" onclick=show_sign()>登入/註冊</button>
            </li>
            <li class="header_div_div_li flex non-display" id="header_div_div_li_logout">
              <button class="header_div_div_li_button" type="button" onclick=logout_account()>登出帳號</button>
            </li>
            
        </div>
      </div>

  
    </header>
    {% block content %}
    {% endblock %}
  </div>
    
  
</body>
<br>
<footer class="footer flex">
  <div class="footer flex">
    <div class="footer_div">
      <p class="footer_div_p">COPYRIGHT @ 2023 台北一日遊.</p>
    </div>
  </div>
</footer>
{% block script_file %}
{% endblock %}
<script src="{{ url_for('static', filename='/base.js') }}"></script>
</html>