{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/indexStyle.css') }}">
<section class="section hero_section">
    <img class="section_img welcome_img" src="{{ url_for('static', filename='/welcome.png') }}" alt="welcome picture">
</section>
<section class="section_slogan">
    <div class="slogan slogan_div">
        <h2 class="slogan_text f-28">輕鬆享受台北一日悠閒</h2>
    </div>
    <div class="slogan slogan_div">
        <h4 class="slogan_text f-16">探索每個角落，體驗城市的深度旅遊行程</h4>
    </div>
    <div class="search_bar slogan_div_search_bar">
        <input class="search_input" type="text" placeholder="輸入景點名稱查詢">
        <div class="search_div flex">
            <button class="search_div_button" onclick="search_keyword_reflush_attraction_card()"></button>
        </div>

    </div>
</section>

<div class="container content">
    <nav class="navbar container flex">
        <div class="nav_div left-button container">
            <button class="nav_div_button_left" onclick="navbar_scroll_left()"></button>
        </div>
        <div class="nav_div list-bar flex">
            <!-- <button class="mrt_search_button" onclick="mrt_button_search()">test_left</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test1</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test2</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test3</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test4</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test5</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">tes6</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test7</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test8</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test9</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test10</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test11</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test12</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test13</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test14</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test15</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test16</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test17</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test18</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test19</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test20</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test21</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test22</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test23</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test24</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test25</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test26</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test27</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test28</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test29</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test30</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test31</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test32</button>
            <button class="mrt_search_button" onclick="mrt_button_search()">test_right</button> -->
        </div>
        <button class="nav_div_button_right" onclick="navbar_scroll_right()"></button>
    </nav>
    <div class="container attraction_grid">
        <!-- <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div>
        <div class="attraction_card content_div_div">
            <img class="attraction_img card-body" src="../static/img_test.jpg" alt="">
            <div class="card-body content_div_div_div div_attraction_name">
                <p class="p_attraction_name" id ="p_attraction_name">LOVE 台北之愛 台灣之愛</p>
            </div>
            <div class="card-body content_div_div_div div_category">
                <p class="p_mrt" id="p_mrt">台北101 / 世貿</p>
                <p class="p_category" id="p_category">公共藝術</p>
            </div>
        </div> -->
        
    </div>
</div>

{% endblock %}

{% block script_file %}
<script src="{{ url_for('static', filename='/index.js') }}"></script>
{% endblock %}